.intro-area {
    height: 100vh;
    display: flex;
    align-items: center;
}
.intro-area .row {
    align-items: center;
}
.intro-text h1 {
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 5px;
}
.intro-text p {
    font-size: 22px;
    color: #00cf5d;
    margin: 0;
}
.intro-text h3 {
    color: #00cf5d;
    font-weight: 700;
}
ul {
    display: flex;
    list-style: none;
    padding-left: 0 !important;
    
}
ul li {
    margin-right: 20px !important;
}
.links ul {
    font-size: 22px;
}
.links ul li a {
    color: #fff;
}
.links ul li a:hover {
    color: #00cf5d !important;
    cursor: pointer;
}
.project-tools ul {
    flex-wrap: wrap;
}
.project-tools ul li {
    color: #c6c9d8;
    background: #1d293a;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 3px;
    padding: 3px 10px;
    font-size: 13px;
    height: 26px;
}
.intro-text ul li{
    position:relative;
    margin-right:25px;
    color:hsla(0,0%,100%,.85)
}
.intro-text ul li:before{
    position:absolute;
    content:"";
    left:-15px;
    top:10px;
    background-color:#00cf5d;
    width:8px;
    height:8px;
    border-radius:10px
}
.intro-text ul li:first-child:before{
    display:none
}
.intro-text ul li:before {
    position: absolute;
    content: "";
    left: -15px;
    top: 10px;
    background-color: #00cf5d;
    width: 8px;
    height: 8px;
    border-radius: 10px;
}
.btn {
    margin-right: 20px;
}
.intro-img {
    width: 100%;
    overflow: hidden;
}
.intro-img img {
    width: 100%;
}
.follow-me-icon a {
    color: #fff;
    margin-right: 10px;
}
.follow-me-icon a:hover {
    color: #00cf5d;
}
.follow-me-icon{
    font-size: 22px;
}
/* mdeia query  */
@media only screen and (max-width: 768px) {
    .intro-area .row {
        flex-direction: column-reverse;
    }
    .intro-area {
        height: auto !important;
      }
}